.event-tab {
    height: 80px;
    background-color: #535557;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-tab:hover {
    background-color: #62707a;
}

.tabs {
    border-bottom: solid 10px #103861 !important;
}

.tabs > .nav-item > .nav-link {
    height: 35px !important;
    font-size: 15px !important;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}   

.tabs > .nav-item > .active{
    border: 1px solid #23476b !important;
    background-color: #0E2237 !important;
    color: #f5f5f5 !important;
}  