.brand-title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
    color: #B6C2CF;
    display: flex;
    align-items: center;
    padding: 1px 5px 1px 5px;
    transition: background-color 0.2s;
}

.brand-title:hover {
    background-color: #333C43;
    border-radius: 3px;
}

.nav-item-not-filled {
    padding: 5px;
}

.nav-item-not-filled:hover {
    background-color: #333C43;
    border-radius: 3px;
}

.nav-item-filled {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(0, 153, 255);
    background-color: #333C43;
    transition: background-color 0.2s;
}

.nav-item-filled:hover {
    background-color: #62707a;
}