html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #1d2125;
}

.body {
  height: 100vh !important;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(95, 94, 94, 0.7);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #343435;
  border-radius: 16px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.btn-base {
  border: 1px solid rgb(78, 106, 124);
  background-color: #333c43;
  color: #b6c2cf;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.2s;
  font-weight: 500;
}

.btn-base:hover {
  background-color: #62707a;
  color: #f5f5f5;
}

.btn-rounded {
  border: 1px solid rgb(78, 106, 124);
  background-color: #333c43;
  color: #b6c2cf;
  transition: background-color 0.2s;
  font-weight: 500;
}

.btn-filled {
  color: black;
  border: 1px solid rgb(0, 153, 255);
  background-color: rgb(0, 153, 255);
  transition: background-color 0.2s;
  font-weight: 500;
}

.btn-not-filled {
  background-color: transparent;
  border: none;
  color: #b2b2b8;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 7px;
}

.btn-not-filled:hover {
  background-color: #686666;
  border-radius: 7px;
  color: #000000;
}

.btn-filled:hover,
.btn-rounded:hover {
  background-color: rgb(98, 187, 247);
  color: black;
}

.modal-base {
  z-index: 1100 !important;
  background-color: #333c43 !important;
  color: #b6c2cf !important;
}

.modal-body {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.modal-bottom-border {
  border-bottom: solid 1px #828587 !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: #65707a;
  border-radius: 5px;
  border: 0px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #2b3744;
  border: 1px solid #b5b7b9;
  outline: none;
  margin-top: -7px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.form-text {
  color: #b6c2b4 !important;
}

.loader-container {
  /* width: 30;
  height: 100vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid;
  border-color: #a7a7a7 transparent #a7a7a7 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  margin-top: 40px;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
