.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  height: 40vh !important;
}

.form-floating {
  padding-bottom: 20px;
  width: 250px;
  font-weight: 600;
  color: rgb(218, 216, 216);
}

.login-form {
  background-color: transparent !important;
  border: 1px solid rgb(102, 100, 100) !important;
}

.login-form:hover {
  background-color: #62707a !important;
  color: #f5f5f5 !important;
}

.login-form:focus {
  box-shadow: 0 0 0 0.1rem rgba(78, 106, 124, 0.25) !important;
}

.carousel .slide {
  display: flex !important;
  justify-content: center !important;
}
.carousel-item-next {
  color: red !important;
}

.img-description-container {
  background: rgba(105, 107, 105, 0.5);
  border-radius: 5px;
  padding: 0px !important;
}

.img-description {
    font-size: 30px;
    font-weight: 300;
}
